@import "fonts";
@import "vendor";
@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

#root {
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 0;
}
